body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

.ridegrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.angular-google-map-container {
    height: 400px;
}

.new {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}

.box {
    border: 3px solid red;
}

.pic {
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

a {
    text-decoration: none;
    margin-left: auto;
     margin-right: auto;
  }
#map{
    height:150px; 
    margin-left: auto;
    margin-right: auto;
    width:500px; 

    box-shadow: 3px 3px 10px gray;
    }
#repeat{ 
     display: inline;
     }
#country_container { 
     width: 1000px; 
     margin: 13px 3px 3px 0px; 
     text-align: center; 
     width: 85px; 
     padding: 4px; 
     display: inline-table;  
     color: white; 
     background-color: black; 
     font-size: 12px; 
     cursor: pointer;
     border: 1px solid black; 
     border-radius:13px; 
     margin-left: auto;
     margin-right: auto;
     }
#country_container:hover { 
     box-shadow: 0px 0px 10px black;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     margin-left: auto;
     margin-right: auto;
     }
#names { 
     cursor: pointer; 
       }
.model {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-shadow: 10mm;
}

.modal-background {
    background-color: yellow;
}