<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" ng-model="rideType" type="search" placeholder="Search by type" aria-label="Search">
        <input class="form-control mr-sm-2" ng-model="rideLocation" type="search" placeholder="Search by location" aria-label="Search">
        <input  class="form-control mr-sm-2" ng-model="ridePrice" type="search" placeholder="Search by price" aria-label="Search">


    </form>
</nav>
<img class="img-fluid" alt="Responsive image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZnepj9gldDLPfLiiEGy7WceytFMFK6IdqFFCYS098okJqDxg7"></img>
<div class="col-sm-12">
    <div class="new" ng-init="getAllRides()">
        <ul class="box" ng-repeat="ride in rideArr | filter: {type: rideType} | filter: {location: rideLocation} | filter: {price: ridePrice}">
            <li>{{ride[1].type}}</li>
            <li>{{ride[1].location}}</li>
            <li>{{ride[1].make}}</li>
            <li>{{ride[1].model}}</li>
            <li>{{ride[1].year}}</li>
            <li>{{ride[1].price}}</li>

            <img class="img-fluid" alt="Responsive image" ng-src="{{ride[1].img}}">
            <a ng-href="#!/details/{{ride[0]}}">
                <button type="button" class="btn btn-info">See Ride Details</button>
            </a>
            <p>{{ride.id}}</p>
        </ul>
    </div>
</div>