<!-- <nav class="navbar navbar-light bg-light">
</nav> -->
<img class="img-fluid homeImage" alt="Responsive image" src="sass/img/homelogo.jpg"></img>

<div class="background col-sm-12">
    <div class="new">
    <div class="box" ng-repeat="ride in rideArr">
        <p class="listmake">{{ride.make}}</p>
        <p class="listmodel">{{ride.model}}</p>
        <p class="listyear">{{ride.year}}</p>
        <p class="listprice">{{ride.price}}</p>

        <img ng-src="{{ride.img}}">
        <button ng-click="deleteRides(ride.id)" type="button" class="btn btn-danger deleteBtn">Delete</button>
        <button class="btn btn-warning editBtn">
            <a ng-href="#!/list/{{ride.id}}/edit">Edit</a>
        </button>
</div>
</div>
</div>



            <!-- <img class="img-fluid" alt="Responsive image" ng-src="{{ride[1].img}}">
            <a ng-href="#!/details/{{ride[0]}}">
                <button type="button" class=" listButton btn btn-dark">See Ride Details</button>
            </a>
            <p>{{ride.id}}</p>
        </div>
    </div>
</div> -->