<ul class="nav nav-tabs">
    <li class="nav-item" ng-class="{active:isActive('#!/home')}">
        <a class="nav-link active" href="#!/home">Home</a>
    </li>
    <li class="nav-item" ng-class="{active:isActive('#!/login')}">
        <a class="nav-link" href="#!/login">Logout</a>
    </li>
    <li class="nav-item" ng-class="{active:isActive('#!/list')}">
        <a class="nav-link" href="#!/list">List</a>
    </li>
    <li class="nav-item" ng-class="{active:isActive('#!/owner')}">
        <a class="nav-link" href="#!/owner">My Rides</a>
    </li>
    
</ul>